*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


.question_1{
    background-color: #5256A1;
}
.question_1 .quiz .quiz_text button{
    background: #fff;
    color: #7431FA;
    border-color: #7431FA;
}
.question_1 .quiz .quiz_text button .asus{
    padding-left: 75px;
}
.question_1 .quiz .quiz_text button .asus{
    display: none;
}
/* .question_1 .quiz .quiz_text .vp{
    padding-right: 155px;
} */
.question_1 .quiz .quiz_text .vp:hover .asus{
    display: inline;
}
.question_1 .quiz .quiz_text .pp:hover{
    background: red;
    transition: 0.7s;
    border-color: red;
}
.question_1 .quiz .quiz_text .bp:hover{
    background: green;
    transition: 0.7s;
    border-color: green;
}

.question_1 .quiz .quiz_text .hp{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    /* padding-right: 150px; */
}
.question_1 .quiz .quiz_text .hp:hover{
    padding-right: 150px;
}

.quiz h2{
    font-size: 36px;
    color: #fff;
   
    
}
.quiz_text{
    border-radius: 10px;
    border-color: #fff;
    background: #fff;
}
.question_1 .quiz .quiz_text button:hover{
    background: orange;
    color: #fff;
    transition: 0.6s;
    border-color: orange;
}

.question_1 .quiz-img{
    width: 30%;
    transform: translateY(44px);
    margin-left: 292px;
}
.question_1 img{
    width: 100%;
    height: 100%;
    margin-bottom: 12px;
}
